@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');


html {
  background-image: url('./images/kendal-james-632196-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

* {
  list-style-type: none;
  margin: 5px;
}

.App-title {
  padding-top: 20px;

  color: #ffff;
  font-family: 'Montserrat',
  sans-serif;
}

.room {
  padding-left: 10px;
  padding-top: 20px;
  font-size: 0.6em;
  font-family: 'Raleway',
  sans-serif;
  background-color: azure;
  opacity: 0.80;
  padding-top: 0.4em;
  margin-top: 1.5em;
  cursor: pointer;
}

.room-form {
  padding-top: 10px;
}

#messages {
  font-color: #ffff;
  background-color: azure;
  opacity: 0.80;
  height: 300px;
}